<section>
  <h1>Links</h1>
  <ul id="recent_posts">
      <li class="post"> <a href="http://www.linxun.info">林寻</a> </li>
      <li class="post"> <a href="http://jianxi.info">孙建希</a> </li>
      <li class="post"> <a href="http://lidashuang.writings.io/">李大双</a> </li>
      <li class="post"> <a href="http://liuzhe0223.github.com">刘哲</a> </li>
      <li class="post"> <a href="http://www.cnblogs.com/ma6174/">马伟伟</a> </li>
      <li class="post"> <a href="http://www.cnblogs.com/fuyunbiyi/">张腾</a> </li>
      <li class="post"> <a href="http://zhangweide.cn/">张卫</a> </li>
      <li class="post"> <a href="http://www.wirelesser.com/">陈浩文</a> </li>
      <li class="post"> <a href="http://xpaomian.com/">汤奇峰</a> </li>
      <li class="post"> <a href="http://tuteng.github.io/">俄广宁</a> </li>
  </ul>
</section>
